<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SauceDemoTestSuite">

  <test name="Task 1: Add To Cart">
    <classes>
      <class name="tests.AddToCartTest"/>
    </classes>
  </test>

  <test name="Task 2: Extract Top 3 Products">
    <classes>
      <class name="tests.ExtractSortedProductsTest"/>
    </classes>
  </test>

</suite>
